.CustomHome {
  padding-top: 30px;
  height: 150vh;
  justify-content: center;
}

.CustomInfo {
  text-align: center;
}

.CustomImage {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
  }
}